<div *ngFor="let column of columns; let first = first; let last = last; let index = index; trackBy: trackByIndex"
     #columnElement>
  <ng-container
    *ngTemplateOutlet="
      columnTemplate || defaultHeaderColumnTemplate;
      context:{
        column:column,
        firstColumn: first,
        lastColumn:last,
        columnElement: columnElement,
        columnElements: columnElements
      }
    ">
  </ng-container>
</div>

<ng-template #defaultHeaderColumnTemplate let-column="column">
  {{column.title}}
</ng-template>
