:host {
  .list-header__resizeable-column {
    display: flex;
    flex-direction: row;
  }

  .list-header__column-content {
    flex: auto 1 1;
  }

  .list-header__column-resize-handle {
    flex: auto 0 0;
    width: 5px;
    height: 20px;
    display: block;
    background: red;
  }
}
