<luaks-list-header #headerComponent [columns]="columns" [columnTemplate]="columnTemplate"></luaks-list-header>

<ng-template #columnTemplate
             let-column="column"
             let-firstColumn="firstColumn"
             let-lastColumn="lastColumn"
             let-columnElement="columnElement"
             let-columnElements="columnElements">
  <div class="list-header__resizeable-column">
    <div (mousedown)="performResizeFront($event,column,firstColumn,columnElement)"
         class="list-header__column-resize-handle"></div>
    <div class="list-header__column-content">{{column.title}}</div>
    <div *ngIf="lastColumn" class="list-header__column-resize-handle"></div>
  </div>
</ng-template>
