$trigger-button-width: 20px;

:host {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: subgrid;
  position: relative;

  .row {
    &__slide-in-container {
      position: absolute;
      display: flex;
      flex-direction: row;
      right: 0;
      transform: translateX(calc(100% - #{$trigger-button-width}));

      &--visible {
        transform: translateX(0);
      }
    }

    &__slide-in-trigger {
      width: $trigger-button-width;
    }
  }
}
