<ng-content select="[content]"></ng-content>
<div class="row__slide-in-container"
     [class.row__slide-in-container--visible]="slideInVisible">
  <div class="row__slide-in-trigger" (click)="slideInVisible = !slideInVisible">s</div>
  <ng-content select="[slide-in]"></ng-content>
</div>
