<luaks-list class="app-list" [data]="data" [columns]="columns" [row]="rowTemplate">
  <luaks-list-resizeable-header
    header
    [columns]="columns"
    (columnWidthsUpdated)="this.columns = $event">
  </luaks-list-resizeable-header>
</luaks-list>

<ng-template #rowTemplate let-row="row">
  <luaks-list-slide-in-row>
    <ng-container content>
      <div class="list__column">{{row.a}}</div>
      <div class="list__column">{{row.b}}</div>
      <div class="list__column">{{row.c}}</div>
      <div class="list__column">{{row.d | date}}</div>
      <div class="list__column">
        <mat-icon>{{row.iconName}}</mat-icon>
      </div>
    </ng-container>
    <ng-container slide-in>
      <button>Hello</button>
    </ng-container>
  </luaks-list-slide-in-row>
</ng-template>
