.list {

  &__container {
    background: green;
    display: grid;
    grid-row: 1;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
  }

  &__header, &__row, &__body {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
  }

  &__column {
    border: 1px solid red;
  }
}
