<div *ngIf="row" class="list__container" [style.grid-template-columns]="gridColumnTemplate">
  <div class="list__header">
    <ng-content select="[header]"></ng-content>
  </div>
  <div class="list__body">
    <div *ngFor="let rowData of data; trackBy: trackByIndex"
         class="list__row">
      <ng-container *ngTemplateOutlet="row;context:{'row': rowData}"></ng-container>
    </div>
  </div>
</div>
